<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask Plotlyjs Example</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<body>
  <div id="line"></div>
  <select id="selGenre" onchange="getData(this.value)">
      <option value="electronic">electronic</option>
      <option value="folk/country">folk/country</option>
      <option value="global">global</option>
      <option value="jazz">jazz</option>
      <option value="metal">metal</option>
      <option value="pop/r&b">pop/r&b</option>
      <option value="rap">rap</option>
      <option value="rock">rock</option>
  </select>
  
  <script src="{{ url_for('static', filename='candlePitch.js') }}"></script>
</body>

</html>